{% extends "base.html" %}
{% block content %}


<div class="container">
    <h1>User List</h1>

    <p>Logged in as: {{user.username}}</p>

    <table class="striped centered">
        <thead>
            <th>#</th><th>UUID</th><th>Reddit</th><th>Discord</th><th>State</th>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{ user.id }}</td>
                <td>{% if user.reddit %}<a href="https://reddit.com/u/{{ user.reddit.name }}" target="_blank">{{ user.reddit.name }}</a>{% endif %}</td>
                <td>{% if user.discord %}{{ user.discord.name }}{% endif %}</td>
                <td>{{ user.state }}</td>
                <td>{{ user.verified_at|datetimeformat }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
</div>

{% endblock %}
